.container {
  max-width: 720px;
}

.mw-400 {
  max-width: 400px !important;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

html {
  scroll-behavior: auto !important;
}

.turbo-progress-bar {
  background-color: #007AFF;
  top: 56px;
}
