services:
  - type: web
    name: ruby-native-demo
    runtime: ruby
    plan: standard
    rootDir: coffee
    buildCommand: ./bin/render-build
    startCommand: bundle exec rails db:prepare db:seed && bundle exec rails server
    envVars:
      - key: SECRET_KEY_BASE
        generateValue: true
      - key: RENDER
        value: "true"
      - key: BUNDLE_FORCE_RUBY_PLATFORM
        value: "false"
      - key: DB_PATH
        value: "/var/data"
      - key: WEB_CONCURRENCY
        value: "0"
      - key: SOLID_QUEUE_IN_PUMA
        value: "true"
      - key: RAILS_MASTER_KEY
        sync: false
    disk:
      name: data
      mountPath: /var/data
      sizeGB: 1
