@import "tailwindcss";

@theme {
  --color-coffee-50: #FAF7F2;
  --color-coffee-100: #F0E8DB;
  --color-coffee-200: #E0D0B7;
  --color-coffee-300: #CDB28E;
  --color-coffee-400: #B8906A;
  --color-coffee-500: #A07A55;
  --color-coffee-600: #8A6544;
  --color-coffee-700: #6F4F36;
  --color-coffee-800: #5C3D2E;
  --color-coffee-900: #4A3125;
  --color-coffee-950: #1C1410;

  --color-cream: #FAF7F2;
  --color-cream-dark: #1C1410;
}
